* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    background: url("img/tile4.jpg") top left repeat;
    /* background: url('http://res.cloudinary.com/djangoles/image/upload/v1489605057/tile3_jx9we5.png') top left repeat */
    background: rgb(27, 27, 27);
}

.score-container {
    width: 100%;
    height: 50px;
    background-color: #000;
    box-shadow: 5px 5px 28px #313131;
    color:#fff;
    text-align: center;
    font-size: 25px;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.5s;
    transition-delay: 1s;
}

.score-container-show {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.score-results-text {
    padding-top: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.span-win {
    color: rgb(0, 182, 0);
}

.span-loss {
    color:rgb(184, 1, 1);
}

.game-container {
    width: 450px;
    height: 450px;
    position: relative;
    margin: 40px auto 0px auto;
    background-color: black;
    border: 10px solid black;
    border-radius: 100%;
    box-shadow: 5px 5px 28px #313131;
}

.play-container {
    width: 99%;
    margin: 0 auto;
    transform: translate(8px, 11px);
    position:relative;
}

.game-face {
    width: 200px;
    height: 200px;
    background-color: #000;
    position: absolute;
    z-index: 1;
    border-radius: 100%; 
    transform: translate(50%, 50%);
}

.game-face-name {
    color:#fff;
    text-align: center;
    margin-top:20px; 
    font-size: 40px; 
}

.game-face-contols {
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    transform: translate(52%, 52%);
    background-color: black;
    position: absolute;
    border-radius:100%; 
    z-index: 1;
}

.game-name {
    color: #fff;
    font-weight: bold;
    transform: translate(32%, 122%);
}


.btn {
    width: 200px;
    height: 200px;
    float: left;
    display: block;
    cursor: pointer;
    margin: 3px;
    border: none;
    outline: none;
    transform: scale(1);
    transition: scale 0.5s;
    opacity: 0.8;
    outline: none;
}

.btn-top-left {
    border-top-left-radius: 100%;
    background: rgb(0, 182, 0);
}

.btn-top-left-active {
    background: rgb(0, 255, 0);
    transform: scale(0.98);   
}

.btn-top-right {
    border-top-right-radius: 100%;
    background: rgb(184, 1, 1);
}

.btn-top-right-active {
    background: rgb(252, 0, 0);
    transform: scale(0.98);   
}

.btn-bottom-left {
    border-bottom-left-radius: 100%;
    background: rgb(201, 197, 0);
}

.btn-bottom-left-active {
    background: rgb(255, 251, 0);
    transform: scale(0.98);  
}

.btn-bottom-right {
    border-bottom-right-radius: 100%;
    background: rgb(0, 71, 165);
 
}

.btn-bottom-right-active {
    background: rgb(0, 110, 255);
    transform: scale(0.98); 
}

.strict-btn {
    width: 40px;
    height: 20px;
    transform: translate(80px, 55px);
    background-color: rgb(0, 182, 0);
    color: #fff;
    border: none;
    cursor: pointer;
}

.strict-btn:hover {
    background-color: rgb(48, 197, 48);   
}

/* GAME FACE STYLES */

.game-face-status {
    color:rgb(255, 5, 5);
    text-align: center;
    transform: translateY(280%);
    background:rgb(49, 49, 49);
    width: 85px;
    margin: 0 auto;
    font-size: 25px; 
    font-family: 'VT323', monospace;
    opacity:0;
    transition: opacity 0.5s;
}

.round-count-text {
    color:#fff;
    text-align: center;
    transform: translateY(350%);
    opacity:0;
    transition: opacity 0.5s;
    font-weight: bold;
}

.show-game-face-status {
    opacity: 1;
}

input {
    display: block;
    color:#fff;
    width: 23px;
}

span {
    color:#fff;
}

#power {
    position: absolute;
    transform: translate(120%, 220%);
    cursor: pointer;
}

#strict {
    position: absolute;
    transform: translate(653%, 220%);
    cursor: pointer;   
}

.power-span,
.strict-span {
    position: absolute; 
    font-size: 12px;  
    font-style: italic;
    font-weight: bold;
}

.power-span {
    transform: translate(50%, 260%);
    color: #fff;
    color:rgb(0, 182, 0);
    color: #fff;
}

.strict-span {
    transform: translate(330%, 260%); 
}

.start-btn-1 {
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius:100%;
    display: block;margin: 0 auto;
    position: absolute;
    transform: translate(150%, 25%);
    cursor:pointer;
    outline: none;
    background-color: #313131;
    background-color: rgb(36, 139, 36);
    color: rgb(241, 241, 241);
    border: none;
    font-weight: bold;
    transition: background-color 0.5s;
}

.start-btn-1-show {
    background-color: rgb(102, 230, 102)    
}

